@import "config";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-stack;
}

body {
    height: 100vh;
    background-color: $light-gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 310px;
    height: 510px;
    border-radius: 1.5rem;
    text-align: center;

    img {
        margin-top: 5%;
        width: 90%;
        border-radius: .8rem;
    }

    h1 {
        margin: 2rem 2rem 1.2rem 2rem;
        font-size: 1.3rem;
        font-weight: 700;
        color: $dark-blue;
    }

    p {
        margin: 0 2rem;
        font-size: 15px;
        font-weight: 400;
        color: $grayish-blue;
    }
}